@import url(font-awesome.min.css);

p {
	color: #777;
}

/* Navbar */
.nav-custom {
	background-color: transparent;
	margin-top: 30px;
	/* outline: 0; */
}

.nav-custom a {
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 4px;
	text-decoration: none;
}

.nav-custom .nav li a {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
	.nav-custom .nav li a:hover {
		color: #d3bd98;
		background-color: transparent;
		/* outline: 0; */
	}
	.nav-custom .nav li a:focus {
		background-color: transparent;
		/* outline: 0; */
	}

.logo {
	height: 100%;
	width: auto;
	padding: 0;
}

/* collapse btn icon in small screen */
.icon-bar {
	background: #fff;
}

/* fullpage background */
#fullpage {
	width: 100vw;
	height: 100vh;
	background-image: url(../image/background/shootingstar.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

/* Contents */
.intro {
	margin-top: 120px;
}

/* footer */
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}